/* main.css */


/* Resetting default margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    padding: 50px;
    background-color: #666;
}

/* Body styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


/* Header styles */

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}


/* Navigation styles */

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
    /* Change to desired hover color */
}


/* Sections styles */

section {
    padding: 40px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 20px;
    color: #333;
}

section p {
    margin-bottom: 10px;
    color: #666;
}

section ul {
    margin-bottom: 10px;
}

/* Styling for Installation section */
section#Installation {
    margin-top: 20px;
}

/* Styling for h2 headings inside Installation section */
section#Installation h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Styling for h3 headings inside Installation section */
section#Installation h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Styling for each command container inside Installation section */
section#Installation div {
    margin-bottom: 15px;
    position: relative;
    padding-right: 120px; /* Added padding for space to accommodate the copy button */
}

/* Styling for command paragraphs inside Installation section */
section#Installation div p {
    font-size: 16px;
    margin: 0;
    background-color: #eeffcc;
    padding: 10px; /* Added padding for better readability */
    border-radius: 5px; /* Added rounded corners for a cleaner look */
}

/* Styling for the copy button */
section#Installation .copy-button {
    position: absolute;
    right: 10px; /* Adjusted the position */
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Styling for hover effect on the copy button */
section#Installation .copy-button:hover {
    background-color: #0056b3;
}
